# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
/bigquery-emulator-ui
__debug_bin*

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Dependency directories
vendor/

# Environment variables
.env
.env.local

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store

# Build artifacts
/dist
/build

